@import '../../styles/variables.css';

.downfade-component {
  & .downfade-enter {
    transform: translateY(-10px);
    opacity: 0;

    &.downfade-enter-active {
      transform: translateY(0);
      opacity: 1;
      transition: all var(--transitionTiming) ease-out;
    }
  }
}
