@import '../../styles/variables.css';

.schema-editor {
  & .toolbar-container {
    position: relative;
    overflow: hidden;
    margin-top: var(--smallGutter);
    margin-bottom: var(--mediumGutter);
    min-height: 28px;
  }

  & .toolbar-icon {
    margin-right: 6px;
  }
}
