@import './variables.css';

/* Reset */
button {
  cursor: pointer;
  border: none;
  background: none;
  margin: none;
  padding: none;
  outline: none;
}

.button {
  font-family: 'Source Sans Pro', Arial, Helvetica, Helvetica Neue, sans-serif;
  font-size: 16px;
  color: var(--textColor);
  background-color: var(--white);
  border: 1px solid var(--lightGray);
  border-radius: var(--borderRadius);
  transition: all ease-in-out var(--transitionTiming);
  padding: 8px 14px;
  outline: 0;
  display: block;
  text-align: center;

  &:hover {
    background-color: var(--darkWhite);
    text-decoration: none;
  }

  &.primary {
    background-color: var(--primaryColor);
    border: 1px solid transparent;
    color: var(--white);

    &:hover {
      background-color: var(--primaryColorDark);
    }
  }

  &.danger:hover {
    background-color: var(--errorColor);
    border-color: var(--gray);
  }

  &.large {
    padding: 12px 24px;
  }

  &.small {
    padding: 3px 8px;
    font-size: 14px;
  }

  &.link {
    border: none;
    outline: none;

    /* duplicated from <a> */
    color: var(--blue);
    text-decoration: none;
  }

  &.full-width {
    width: 100%;
  }

  &.square {
    padding: 8px 8px;
  }

  &.disabled {
    background-color: var(--gray) !important;
    cursor: not-allowed;
  }
}

a.button {
  padding: 8px 14px;
  border: none;
}

a.button:hover {
  background-color: var(--darkWhite);
}

.button-group {
  display: flex;

  & .button {
    margin-right: 8px;
  }
}
