@import './variables.css';

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--mediumGutter);
  padding-right: var(--mediumGutter);
  width: var(--containerWidth);
  max-width: 100%;

  &.large {
    width: var(--largeContainerWidth);
  }
}
