@import './variables.css';

.flex {
  display: flex;

  &.align-center {
    align-items: center;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-start {
    justify-content: flex-start;
  }
}

.flex-spring {
  flex-grow: 1;
}
