/* @format */

@import './variables.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: var(--textColor);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--mediumGutter);
  padding-right: var(--mediumGutter);
  max-width: var(--containerWidth);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay {
  z-index: 4;
}

.ul {
  list-style-type: disc;
  padding-left: 24px;
}
