/* @format */

@import './variables.css';

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &.bullet-list {
    list-style-type: disc;

    & li {
      margin-left: 28px;
    }
  }
}

ol.prose,
ul.prose {
  font-size: 18px;
}
