/* @format */

@import './variables.css';

.section {
  padding-top: 40px;
  padding-bottom: 40px;

  &.blue {
    background-color: var(--blue);
  }

  &.dark-white {
    background-color: var(--darkWhite);
  }
}
