/* @format */

@import '../styles/variables.css';

.title {
  font-family: var(--serifFontFamily);
  font-size: 48px;
  font-weight: bold;
  margin-top: 0;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.text-white {
  color: var(--white);
}

.text-green {
  /* TODO(azirbel): Use proper green */
  color: green;
}

.text-error {
  color: var(--errorColor);
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  font-family: var(--sansFontFamily);
  color: var(--textColor);
}

h2 {
  font-size: 28px;
  font-weight: bold;
  font-family: var(--sansFontFamily);
  color: var(--textColor);
}

h5 {
  font-size: 16px;
  font-weight: bold;
  font-family: var(--sansFontFamily);
  color: var(--gray);
  text-transform: uppercase;
}

.page-title {
  display: inline;
  font-size: 28px;
  font-weight: bold;
  color: var(--textColor);
  font-family: var(--sansFontFamily);
}

p + p,
p + ul,
ul + p,
p + .button-group,
.button-group + p,
ul + .button-group,
.button-group + ul {
  margin-top: 1em;
}
