:root {
  /* NEW colors -------------------------------------- */

  /* raw colors */
  --white: #fff;
  --darkWhite: #eff0f5;
  --blue: #6574a6;
  --lightBlue: #95a6dc;
  --darkBlue: #415082;
  --lightBlack: #3d3f45;
  --black: #000;

  --primaryColor: var(--blue);
  --primaryColorLight: var(--lightBlue);
  --primaryColorDark: var(--darkBlue);
  --textColor: var(--lightBlack);

  /* OLD colors -------------------------------------- */

  /* raw colors */
  /* palette (temporary): http://paletton.com/palette.php?uid=73g0u0kiCFn8GVde7NVmtwSqXtg */
  --darkWhite: #f6f6f8;
  --lightGray: #d7d8de;
  --gray: #a6a8b1;
  --darkGray: #54565d;

  --turquoise: #4fbdb5;
  --lightTurquoise: #adede8;
  --darkTurquoise: #178f86;
  --yellow: #ffcc6b;
  --orange: #ffab6b;

  /* semantic colors */
  --secondaryColor: var(--blue);
  --warningColor: var(--orange);
  --errorColor: var(--orange);

  /* OTHER VARIABLES -------------------------------------- */

  --smallGutter: 10px;
  --largeGutter: 24px;
  --mediumGutter: 16px;

  --transitionTiming: 0.2s;
  --borderRadius: 3px;

  --containerWidth: 800px;
  --headerHeight: 60px;

  --sansFontFamily: "Source Sans Pro", sans-serif;
  --serifFontFamily: "Source Serif Pro", serif;

  @custom-media --screenXsMin (min-width: 480px);
  @custom-media --screenSmMin (min-width: 768px);
  @custom-media --screenMdMin (min-width: 992px);
  @custom-media --screenLgMin (min-width: 1200px);
}
