:root {
  /* NEW colors -------------------------------------- */

  /* raw colors */
  --white: #FFF;
  --darkWhite: #EFF0F5;
  --blue: #6574A6;
  --lightBlue: #95A6DC;
  --darkBlue: #415082;
  --lightBlack: #3D3F45;
  --black: #000;

  --primaryColor: var(--blue);
  --primaryColorLight: var(--lightBlue);
  --primaryColorDark: var(--darkBlue);
  --textColor: var(--lightBlack);


  /* OLD colors -------------------------------------- */

  /* raw colors */
  /* palette (temporary): http://paletton.com/palette.php?uid=73g0u0kiCFn8GVde7NVmtwSqXtg */
  --darkWhite: #F6F6F8;
  --lightGray: #D7D8DE;
  --gray: #A6A8B1;
  --darkGray: #54565D;

  --turquoise: #4FBDB5;
  --lightTurquoise: #ADEDE8;
  --darkTurquoise: #178F86;
  --yellow: #FFCC6B;
  --orange: #FFAB6B;

  /* semantic colors */
  --secondaryColor: var(--blue);
  --warningColor: var(--yellow);
  --errorColor: var(--orange);


  /* OTHER VARIABLES -------------------------------------- */

  --smallGutter: 10px;
  --largeGutter: 24px;
  --mediumGutter: 16px;

  --transitionTiming: 0.20s;
  --borderRadius: 3px;

  --containerWidth: 800px;
}
