/* @format */

@import '../styles/variables.css';

.ace-npoint .ace_gutter {
  background: var(--white);
  color: var(--gray);
}
.ace-npoint {
  background: var(--white);
  color: var(--textColor);
}
.ace-npoint .ace_keyword {
  font-weight: bold;
}
.ace-npoint .ace_string {
  color: var(--blue);
}
.ace-npoint .ace_variable.ace_class {
  color: teal;
}
.ace-npoint .ace_constant.ace_numeric {
  color: #099;
}
.ace-npoint .ace_constant.ace_buildin {
  color: #0086b3;
}
.ace-npoint .ace_support.ace_function {
  color: #0086b3;
}
.ace-npoint .ace_comment {
  color: #998;
  font-style: italic;
}
.ace-npoint .ace_variable.ace_language {
  color: #0086b3;
}
.ace-npoint .ace_paren {
  font-weight: bold;
}
.ace-npoint .ace_boolean {
  font-weight: bold;
}
.ace-npoint .ace_string.ace_regexp {
  color: #009926;
  font-weight: normal;
}
.ace-npoint .ace_variable.ace_instance {
  color: teal;
}
.ace-npoint .ace_constant.ace_language {
  font-weight: bold;
}
.ace-npoint .ace_cursor {
  color: black;
}
.ace-npoint.ace_focus .ace_marker-layer .ace_active-line {
  background: var(--darkWhite);
}
.ace-npoint .ace_marker-layer .ace_active-line {
  background: rgb(245, 245, 245);
}
.ace-npoint .ace_marker-layer .ace_selection {
  background: rgb(181, 213, 255);
}
.ace-npoint.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px white;
}
.ace-npoint.ace_nobold .ace_line > span {
  font-weight: normal !important;
}
.ace-npoint .ace_marker-layer .ace_step {
  background: rgb(252, 255, 0);
}
.ace-npoint .ace_marker-layer .ace_stack {
  background: rgb(164, 229, 101);
}
.ace-npoint .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgb(192, 192, 192);
}
.ace-npoint .ace_gutter-active-line {
  background-color: rgba(0, 0, 0, 0.07);
}
.ace-npoint .ace_marker-layer .ace_selected-word {
  background: rgb(250, 250, 255);
  border: 1px solid rgb(200, 200, 250);
}
.ace-npoint .ace_invisible {
  color: #bfbfbf;
}
.ace-npoint .ace_print-margin {
  width: 1px;
  background: #e8e8e8;
}
.ace-npoint .ace_indent-guide {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bLly//BwAmVgd1/w11/gAAAABJRU5ErkJggg==')
    right repeat-y;
}
