/* @format */

@import '../styles/variables.css';

.document-page {
  & .main-container {
    min-height: calc(100vh - var(--headerHeight));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .main {
    padding: var(--largeGutter) var(--mediumGutter);
  }

  & .schema-section {
    @media only screen and (--screenXsMax) {
      margin-top: 20px;
    }
  }

  & .data-control-buttons {
  }

  & .data-header {
    margin-bottom: var(--smallGutter);
  }
}

/* TODO(azirbel): Move these to animations folder */
