/* @format */

@import '../styles/variables.css';

.index-page {
  & .index-editor-container {
    position: relative;
    margin-bottom: 20px; /* compensate for hanging button */
    padding: 20px;
    background-color: var(--white);
    border-radius: var(--borderRadius);
  }

  & .index-editor-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(50%);
    padding-bottom: 10px; /* HACK: make it vertically aligned */
    z-index: 3;
  }

  & .index-splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  & .index-title {
    margin-bottom: 60px;
  }

  & .icon-benefit {
    background-color: var(--primaryColor);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: var(--white);
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
  }

  & .how-it-works-number {
    font-family: var(--serifFontFamily);
    font-size: 48px;
    font-weight: bold;
    color: var(--primaryColor);
  }

  & .diagram-placeholder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--white);
    background-color: #d0d7ec;
    border: 2px dashed var(--white);
  }

  & .feature-row {
    margin-top: 40px;

    & + .feature-row {
      margin-top: 60px;
    }
  }
}
