/* @format */

.account-dropdown-component {
  & .account-dropdown-avatar {
    height: 30px;
    width: 30px;
  }

  & .thign {
    padding: 3px;
  }

  & .account-dropdown-button {
    padding: 4px 4px 4px 8px;
    margin-right: -8px; /* eyeball align with right side of container */
  }
}

/* Can't be namespaced because it's lifted out of the DOM */
.account-dropdown-menu {
  min-width: 8em;
}
