@import '../../styles/variables.css';

.title-component {
  & .small-logo-container {
    width: 36px; /* gutter_size */
    margin-bottom: 4px; /* align with the header text */
  }

  & .page-title {
    display: inline;
    font-size: 28px;
  }
}
