@import '../../styles/variables.css';

.title-component {
  display: flex;
  align-items: center;

  & .small-logo-container {
    width: 36px; /* gutter_size */
  }

  & .page-title {
    display: inline;
    font-size: 28px;
  }

  & .title-badge {
    margin-left: 10px;
    cursor: pointer;
  }
}

.alpha-warning-tooltip {
  max-width: 300px;
  padding: 10px;
}
