@import '../styles/variables.css';

.badge-component {
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 4px;

  color: var(--white);
  background-color: var(--darkGray);

  &.warning {
    color: var(--textColor);
    background-color: #FFCB32;
  }

  & + & {
    margin-left: 10px;
  }
}
