@import '../styles/variables.css';

/* gutter_size is 30px */

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

@media(min-width: 700px) {
  .header-container.small-logo {
    max-width: calc(var(--containerWidth) + 60px); /* 2x gutter_size */
  }
}
