@import '../styles/variables.css';

.json-editor {
  width: 100%;

  & .json-ace-editor {
    border: 1px solid var(--gray);
    border-radius: var(--borderRadius);
    color: var(--textColor);
    background-color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
  }
}
