/* @format */

@import '../styles/variables.css';

.json-editor {
  width: 100%;

  & .json-ace-editor {
    color: var(--textColor);
    background-color: white;
    font-family: 'Source Code Pro', monospace;
  }
}

.ace_editor {
  line-height: 20px;
}
