@import '../styles/variables.css';

.loading-spinner {
  height: 100%;
  width: 100%;

  & svg {
    max-height: 100%;
    max-width: 100%;
  }

  & .fill-light-black {
    fill: var(--lightBlack);
  }

  & .fill-gray {
    fill: var(--gray);
  }

  & .fill-blue {
    fill: var(--blue);
  }

  & .fill-white {
    fill: var(--white);
  }
}
