/* @format */

@import '../styles/variables.css';

.logo {
  font-family: 'Source Serif Pro', serif;
  font-size: 30px;
  font-weight: bold;
  color: var(--primaryColor);
  transition: all ease-in-out var(--transitionTiming);
  user-select: none;
  cursor: default;
}

a.logo,
a .logo {
  cursor: pointer;

  &:hover {
    color: var(--primaryColorLight);
    text-decoration: none;
  }
}
