:root {
  /* raw colors */
  /* palette (temporary): http://paletton.com/palette.php?uid=73g0u0kiCFn8GVde7NVmtwSqXtg */
  --white: #fff;
  --darkWhite: #F6F6F8;
  --lightGray: #D7D8DE;
  --darkGray: #54565D;
  --black: #000;

  /* untested, fetch more from paletton if needed */
  --gray: #A6A8B1;
  --lightBlack: #26272A;

  --turquoise: #4FBDB5;
  --lightTurqoise: #ADEDE8;
  --blue: #5E81C5;
  --yellow: #FFCC6B;
  --orange: #FFAB6B;

  /* semantic colors */
  --primaryColor: var(--turquoise);
  --primaryColorLight: var(--lightTurquoise);
  --secondaryColor: var(--blue);
  --textColor: var(--lightBlack);
  --warningColor: var(--yellow);
  --errorColor: var(--orange);

  --smallGutter: 10px;
  --largeGutter: 24px;
  --mediumGutter: 16px;

  --transitionTiming: 0.15s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', Arial, Helvetica, Helvetica Neue, sans-serif;
  font-size: 16px;
  color: var(--textColor);
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--mediumGutter);
  padding-right: var(--mediumGutter);
  max-width: 800px;
}

header {
  height: 60px;
  width: 100%;
  box-shadow: 0 0 4px 0 var(--lightGray);
}

.header-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  font-family: 'Source Sans Pro', Arial, Helvetica, Helvetica Neue, sans-serif;
  font-size: 16px;
  color: var(--textColor);
  background-color: var(--white);
  border: 1px solid var(--lightGray);
  border-radius: 3px;
}

.button.primary {
  background-color: var(--primaryColor);
}
