:root {
  /* raw colors */
  /* palette (temporary): http://paletton.com/palette.php?uid=73g0u0kiCFn8GVde7NVmtwSqXtg */
  --white: #fff;
  --darkWhite: #F6F6F8;
  --lightGray: #D7D8DE;
  --gray: #A6A8B1;
  --darkGray: #54565D;
  --lightBlack: #26272A;
  --black: #000;

  --turquoise: #4FBDB5;
  --lightTurquoise: #ADEDE8;
  --darkTurquoise: #178F86;
  --blue: #5E81C5;
  --yellow: #FFCC6B;
  --orange: #FFAB6B;

  /* semantic colors */
  --primaryColor: var(--turquoise);
  --primaryColorLight: var(--lightTurquoise);
  --primaryColorDark: var(--darkTurquoise);
  --secondaryColor: var(--blue);
  --textColor: var(--lightBlack);
  --warningColor: var(--yellow);
  --errorColor: var(--orange);

  --smallGutter: 10px;
  --largeGutter: 24px;
  --mediumGutter: 16px;

  --transitionTiming: 0.20s;
  --borderRadius: 3px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', Arial, Helvetica, Helvetica Neue, sans-serif;
  font-size: 16px;
  color: var(--textColor);
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--mediumGutter);
  padding-right: var(--mediumGutter);
  max-width: 800px;
}

header {
  height: 60px;
  width: 100%;
  box-shadow: 0 0 4px 0 var(--lightGray);
  margin-bottom: 10px;
}

.header-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.button {
  font-family: 'Source Sans Pro', Arial, Helvetica, Helvetica Neue, sans-serif;
  font-size: 16px;
  color: var(--textColor);
  background-color: var(--white);
  border: 1px solid var(--lightGray);
  border-radius: var(--borderRadius);
  transition: all ease-in-out var(--transitionTiming);
  padding: 8px 14px;
}

.button:hover {
  background-color: var(--darkWhite);
}

.button:focus {
  outline: 0;
}

.button.primary {
  background-color: var(--primaryColor);
  border: 1px solid transparent;
  color: var(--white);
}

.button.primary:hover {
  background-color: var(--primaryColorDark);
}

.button.danger:hover {
  background-color: var(--errorColor);
  border-color: var(--gray);
}

.button.subtle {
  border: 1px solid transparent;
}

.button.large {
  padding: 12px 24px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-center-content {
  display: flex;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Source Sans Pro', Arial, Helvetica, Helvetica Neue, sans-serif;
  color: var(--textColor);
}
